body {
    background-color: black
}

#box-container-ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 0px;
    padding-bottom: 70px
}

.game-container {
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(240deg, rgba(76, 0, 255, 0.83), rgba(76,0,255,0) 80%),
                linear-gradient(120deg, rgba(73, 235, 146, 0.8), rgba(73,235,146,0) 80%),
                linear-gradient(360deg, rgba(0, 225, 255, 0.83), rgba(0,225,255,0) 80%);
}

.backpack {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /* flex-wrap: wrap; */
    list-style-type: none;
    overflow-x: auto;
}

.box {
    color: white;
    width: 200px;
    height: 200px;
    /* box-shadow: rgb(0, 0, 0) 0 5px 10px; */
    text-align: center;
}

/* .box:hover {
    animation: boxDance 0.5s linear; */
    /* animation-play-state: playing; */
  /* } */

@keyframes boxDance {
    0% {
      transform: translate(0px, 0%);
    }
    25% {
      transform: rotate(0.01turn);
    }
    50% {
      transform: rotate(-0.01turn);
    }
    75% {
      transform: rotate(0.01turn);
    }
    100% {
      transform: translate(0px, 0%);
    }
}

.tool-div {
    animation: none;
    animation-play-state: paused;
}

#box-container-ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    margin-top: 12px;
    align-content: center;
}

.backpack-image {
    max-width: 200px;
    max-height: 100px;
}

.backpack-item {
    margin-top: 30px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    /* border: 6.5px rgba(76, 0, 255, 0.596); */
    border: 3px ridge rgb(73, 235, 146, 0.8);
    border-style: ridge;
    font-family: 'NTR', sans-serif;
    font-size: 1.5vw;
    min-width: 10%;
    max-width: 8%;
}

li p {
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: center;
}

.open-box {
    width: 200px;
    height: 200px;
    background-image: url('./images/open-box.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#welcome-box {
    background-image: url('./images/square-cardboard-box-with-a-sticky-tape-cardboard-background-top-view-picture_csp64402612.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 6px;
}

#welcome-box-tool-image {
    max-width: 125px;
    margin-top: 20px;
}

/* #welcome-box:hover {
    animation: slightlyGrow 1s linear infinite;
    animation-play-state: playing;
  } */

#four-screws {
    background-image: url('./images/metal-plate3.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 11px;
}

#four-screws-tool-image {
    max-width: 80px;
    max-height: 80px;
    margin-top: 40px;
}

#unlit-wood{
    background-image: url('./images/unlit-wood.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 6px;
}

/* #unlit-wood-tool-image {

} */

#safe {
    background-image: url("./images/dial-safe.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

/* #safe-tool-image {

} */

#button-under-water {
    background-image: url('./images/underwater-button.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 80px;

}

#button-under-water-tool-image {
    margin-top: 40px;
    max-width: 125px;
    max-height: 125px;
}

#dark-box {
    background-image: url('./images/dark-box.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 6px;
}

#dark-box-tool-image {
    margin-top: 0px;
    max-width: 250px;
    max-height: 250px;
}

#logs {
    background-image: url('./images/logs.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#logs-tool-image {
    margin-top: 50px;
    max-width: 100px;
    max-height: 100px;
}

#empty-battery-slots {
    background-image: url('./images/battery-slots.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#empty-battery-slots-tool-image {
    margin-top: 10px;
}

#four-nails {
    background-image: url('./images/four-nails.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 6px;
}

#four-nails-tool-image {
    margin-top: 40px;
    max-width: 125px;
    max-height: 125px;
}

#pallet-with-rope {
    background-image: url('./images/pallet-with-rope.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 6px;
}

#pallet-with-rope-tool-image {
    margin-top: 40px;
}

#wooden-box {
    background-image: url('./images/wooden-crate.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 3px;
}

#wooden-box-tool-image {
    margin-top: 50px;
    max-width: 80px;
    max-height: 80px;
}

#keypad-with-swipe {
    display: flex;
    background-image: url("./images/safe.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
}

#keypad-with-swipe-tool-image {
    margin-top: 10px;
    max-width: 125px;
    max-height: 125px;
}

#new-keyhole {
    background-image: url("./images/key-safe2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

#new-keyhole-tool-image {
    margin-top: 40px;
    max-width: 130px;
    max-height: 130px;
}

#boulder {
    background-image: url("./images/boulder2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

#boulder-tool-image {
    margin-top: 80px;
    max-width: 60px;
    max-height: 60px;
}

#old-keyhole {
    background-image: url("./images/filing-cabinet-with-lock.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

#old-keyhole-tool-image {
    margin-top: 50px;
    max-width: 125px;
    max-height: 125px;
}

#master-lock {
    background-image: url("./images/master-chest.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#master-lock-tool-image {
    max-height: 200px;
    max-width: 200px;
}

#backpack-image {
    max-width: 200px;
    margin-bottom: 20px;
}

@keyframes bounceIn {
    0% {
      transform: translate(10px, 5%);
    }
    15% {
      transform: translate(-30px, -10%);
    }
    30% {
      transform: translate(-65px, 5%);
    }
    45% {
      transform: translate(-95px, -10%);
    }
    60% {
      transform: translate(-130px, 5%);
    }
    80% {
      transform: translate(-165px, -10%);
    }
    100% {
      transform: translate(-200px, 5%);
    }
}
  
.box-item-image {
    max-width: 150px;
    max-height: 150px;
    background-image: none;
    animation: bounceIn 0.65s ease-out forwards;
}

@keyframes slightlyGrow {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
.box:hover {
    animation: slightlyGrow 1s linear infinite;
    animation-play-state: playing;
}

.input-valid {
    background-color: rgba(0, 255, 0, 0.253);
    height: 2vw;
    color: rgb(20, 20, 20);
    width: 100%;
    font-family: 'NTR', sans-serif;
    border: 1.5px solid rgba(3, 116, 8, 0.541);

    caret-color: rgba(0, 255, 0, 0.400);
    /* background-color: rgba(255, 255, 255, 0); */
    padding: 4pt;
    /* font-size: 1.2vw; */
    margin-bottom: 5px;
    resize: none;
}

.input-invalid {
    background-color: rgba(255, 0, 0, 0.219);
    height: 2vw;
    color: rgb(20, 20, 20);
    width: 100%;
    font-family: 'NTR', sans-serif;
    border: 1.5px solid rgba(255, 43, 43, 0.548);
    border-radius: 4px;
    resize: none;
    caret-color: rgba(0, 255, 0, 0.400);
    /* background-color: rgba(255, 255, 255, 0); */
    padding: 4pt;
    font-size: 1.2vw;
    margin-bottom: 5px;
    
}

#create-username-input, 
#create-password-input, 
#login-username-input, 
#login-password-input {
    background-color: rgba(255, 255, 255, 0);
    padding: 4pt;
    font-size: 1.2vw;
    margin-bottom: 5px;
}

#logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main-logo {
    max-width: 30%;
    min-width: 30%;
}

#forms-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create-user-form-div {
    margin-left: 5%;
    margin-right: 5%;
}

.create-user-form {
    display: flex;
    flex-direction: column;
    width: 14vw;
    align-items: center;
}

.create-user-form-success {
    display: flex;
    flex-direction: column;
    width: 14vw;
    align-items: center;
    background-color: rgba(0, 255, 0, 0.400);
}

.log-in-form-div {
    margin-left: 3%;
    margin-right: 3%;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    width: 14vw;
    align-items: center;
}

#title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.title {
    font-family: 'Bungee', cursive;
    font-size: 7vw;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

.login-page-div {
    position: absolute;
    top: 0px; 
    right: 0px; 
    bottom: 10px; 
    left: 0px;
    background: linear-gradient(240deg, rgba(76, 0, 255, 0.83), rgba(76,0,255,0) 80%),
                linear-gradient(120deg, rgba(73, 235, 146, 0.8), rgba(73,235,146,0) 80%),
                linear-gradient(360deg, rgba(0, 225, 255, 0.83), rgba(0,225,255,0) 80%);
}




input[type=text], input[type=password] {
    width: 100%;
    padding: 4pt;
    border: 1.5px solid rgba(50, 50, 50, 0.548);
    border-radius: 4px;
    resize: none;
    height: 2vw;
    color: rgb(20, 20, 20);
    font-size: 1vw;
    font-family: 'NTR', sans-serif;
    caret-color: rgba(73, 235, 146, 0.4);
}

input[type=submit] {
    width: 100%;
    font-size: 1vw;
    background-color: rgba(73, 235, 146, 0.664);
    border: none;
    color: rgba(80, 80, 80, 0.7);
    padding-bottom: 2px;
    padding-top: 2px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'NTR', sans-serif;
    
}

input[type=submit]:focus {
    outline: none;
}

input[type=submit]:hover {
    background-color: rgba(73, 235, 146, 0.932);
}

input[type=submit]:active {
  background-color: rgba(73, 235, 146, 0.664);
  transform: translateY(4px);
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
}

::placeholder {
    color: rgb(40, 40, 40 );
  }

.treasure-image {
    max-width: 50%;
    min-width: 50%;
    cursor: pointer;
}

#treasure-image-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
}

.game-result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

#game-result-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#most-recent-score {
    font-size: 30pt;
}


.most-recent-score-span {
    font-family: 'Bungee', cursive;
    font-size: 3vw;
}

.victory-text {
    font-family: 'NTR', sans-serif;
    font-size: 2vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

.game-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vw;
}

button {
    width: 15%;
    font-size: 1.5vw;
    background-color: rgba(73, 235, 146, 0.664);
    border: none;
    color: rgb(48, 47, 47);
    padding-bottom: 2px;
    padding-top: 2px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Bungee', cursive;
    margin-bottom: 10px;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: rgba(73, 235, 146, 0.932);
    animation: slightlyGrow 1s linear infinite;
}

button:active {
  background-color: rgba(73, 235, 146, 0.664);
  transform: translateY(4px);
}

#timer-and-misses-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#timer-and-misses-div h1 {
    margin: 0px;
    font-family: 'NTR', sans-serif;
    font-size: 2vw;
}

#click-treasure {
    font-family: 'NTR', sans-serif;
    font-size: 2vw;
}

#welcome-instruction {
    font-family: 'NTR', sans-serif;
    font-size: 2vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

.leader-board-div {
    min-height: 80%;
}

.leader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'NTR', sans-serif;
    font-size: 1.5vw;
}

.sub-logo {
    max-width: 400px;
    min-width: 400px;
}

#puzzle-sub-title {
    font-family: 'Bungee', cursive;
    font-size: 8.5vw;
    background: -webkit-gradient(linear, 0 100%, 0 0%, from(rgba(76, 0, 255, 0.800)), to(rgba(73, 235, 146, 0.8)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
}

.game-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#backpack-item-3 {
    margin-top: 20px;
    max-width: 80px;
    max-height: 80px;
}

#backpack-item-2,
#backpack-item-4,
#backpack-item-5 {
    margin-top: 10px;
}

#backpack-item-6 {
    margin-top: 12px;
}

#backpack-item-7 {
    margin-top: 12px;
    max-width: 160px;
    max-height: 160px;

}

#start-button {
    margin-top: 7px;
    
}

/* #dummy-div {
    min-height: 80px;
} */


#loot-sub-title {
   font-family: 'Bungee', cursive;
    font-size: 8.5vw;
    background: -webkit-gradient(linear, 0 100%, 0 0%, from(rgba(73, 235, 146, 0.8)), to(rgba(76, 0, 255, 0.8)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
}

.game-number {
    font-family: 'Bungee', cursive;
    font-size: 3vw;
}

.top-ten-span, .leader-board-numbers {
    font-family: 'Bungee', cursive;
    font-size: 3vw;
    
}

.leader-board-numbers {
    margin-left: 1vw;
    margin-right: 1vw;
}

#top-ten-title {
    font-size: 6vw;
    background: -webkit-gradient(linear, 0 125%, 0 0%, from(rgba(76, 0, 255, 0.800)), to(rgba(73, 235, 146, 0.8)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#timer-word,
#misses-word {
    margin-right: 10px;
    position: static;
}

#leader-1 span.leader-board-numbers {
    font-size: 4vw;
}

.leader h2#ranking span.leader-board-numbers {
    background: -webkit-gradient(linear, 0 0%, 0 0%, from(rgba(76, 0, 255, 0.800)), to(rgba(73, 235, 146, 0.8)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}