#box-container-ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-evenly;
    list-style-type: none;
}

.game-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(68, 68, 68);
}

.backpack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.box {
    color: white;
    width: 200px;
    height: 200px;
    /* box-shadow: rgb(0, 0, 0) 0 5px 10px; */
    text-align: center;
}

/* .box:hover {
    animation: boxDance 0.5s linear; */
    /* animation-play-state: playing; */
  /* } */

@keyframes boxDance {
    0% {
      transform: translate(0px, 0%);
    }
    25% {
      transform: rotate(0.01turn);
    }
    50% {
      transform: rotate(-0.01turn);
    }
    75% {
      transform: rotate(0.01turn);
    }
    100% {
      transform: translate(0px, 0%);
    }
}

.tool-div {
    animation: none;
    animation-play-state: paused;
}

#box-container-ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    align-content: center;
}

.backpack-image {
    max-width: 200px;
    max-height: 100px;
}

.backpack-item {
    margin-top: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.open-box {
    width: 200px;
    height: 200px;
    background-image: url('./images/open-box.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#welcome-box {
    background-image: url('./images/square-cardboard-box-with-a-sticky-tape-cardboard-background-top-view-picture_csp64402612.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 6px;
}

#welcome-box-tool-image {
    max-width: 125px;
    margin-top: 20px;
}

/* #welcome-box:hover {
    animation: slightlyGrow 1s linear infinite;
    animation-play-state: playing;
  } */

#four-screws {
    background-image: url('./images/metal-plate3.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 11px;
}

#four-screws-tool-image {
    max-width: 80px;
    max-height: 80px;
    margin-top: 40px;
}

#unlit-wood{
    background-image: url('./images/unlit-wood.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 6px;
}

/* #unlit-wood-tool-image {

} */

#safe {
    background-image: url("./images/dial-safe.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

/* #safe-tool-image {

} */

#button-under-water {
    background-image: url('./images/underwater-button.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 80px;

}

#button-under-water-tool-image {
    margin-top: 40px;
    max-width: 125px;
    max-height: 125px;
}

#dark-box {
    background-image: url('./images/dark-box.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 6px;
}

#dark-box-tool-image {
    margin-top: 0px;
    max-width: 250px;
    max-height: 250px;
}

#logs {
    background-image: url('./images/logs.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#logs-tool-image {
    margin-top: 50px;
    max-width: 100px;
    max-height: 100px;
}

#empty-battery-slots {
    background-image: url('./images/battery-slots.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#empty-battery-slots-tool-image {
    margin-top: 10px;
}

#four-nails {
    background-image: url('./images/four-nails.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 6px;
}

#four-nails-tool-image {
    margin-top: 40px;
    max-width: 125px;
    max-height: 125px;
}

#pallet-with-rope {
    background-image: url('./images/pallet-with-rope.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 6px;
}

#pallet-with-rope-tool-image {
    margin-top: 40px;
}

#wooden-box {
    background-image: url('./images/wooden-crate.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 3px;
}

#wooden-box-tool-image {
    margin-top: 50px;
    max-width: 80px;
    max-height: 80px;
}

#keypad-with-swipe {
    display: flex;
    background-image: url("./images/safe.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
}

#keypad-with-swipe-tool-image {
    margin-top: 10px;
    max-width: 125px;
    max-height: 125px;
}

#new-keyhole {
    background-image: url("./images/key-safe2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

#new-keyhole-tool-image {
    margin-top: 40px;
    max-width: 130px;
    max-height: 130px;
}

#boulder {
    background-image: url("./images/boulder2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

#boulder-tool-image {
    margin-top: 80px;
    max-width: 60px;
    max-height: 60px;
}

#old-keyhole {
    background-image: url("./images/filing-cabinet-with-lock.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

#old-keyhole-tool-image {
    margin-top: 50px;
    max-width: 125px;
    max-height: 125px;
}

#master-lock {
    background-image: url("./images/master-chest.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#master-lock-tool-image {
    max-height: 200px;
    max-width: 200px;
}

#backpack-image {
    max-width: 200px;
    margin-bottom: 20px;
}

@keyframes bounceIn {
    0% {
      transform: translate(10px, 5%);
    }
    15% {
      transform: translate(-30px, -10%);
    }
    30% {
      transform: translate(-65px, 5%);
    }
    45% {
      transform: translate(-95px, -10%);
    }
    60% {
      transform: translate(-130px, 5%);
    }
    80% {
      transform: translate(-165px, -10%);
    }
    100% {
      transform: translate(-200px, 5%);
    }
}
  
.box-item-image {
    max-width: 150px;
    max-height: 150px;
    background-image: none;
    animation: bounceIn 0.65s ease-out forwards;
}

@keyframes slightlyGrow {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
.box:hover {
    animation: slightlyGrow 1s linear infinite;
    animation-play-state: playing;
}